{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-primary">
        <h2 class="panel-heading">{{ post.title }}</h2>
        <p class="panel-body">{{ post.content }}</p>
        <p>By: {{ post.author }}</p>
        <p>Created on: {{ post.created_date }}</p>
    </div>

    {% if post.author.get_username == user.get_username %}
        <a href="{% url 'post_edit' pk=post.pk %}">Edit Post</a>
    {% endif %}
    {% if post.author.get_username == user.get_username or user.is_superuser %}
        <a href="{% url 'post_delete' pk=post.pk %}">Delete Post</a>
        {% if post.is_published %}
            <a href="{% url 'post_unpublish' pk=post.pk %}">Unpublish Post</a>
        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}">Publish Post</a>
        {% endif %}
    {% endif %}

    <div class="panel panel-info">
        <h3 class="panel-heading">Add Reply</h3>
         <form method="POST" class="post-form">{% csrf_token %}
            <div class="panel-body">
                {% if form.name.errors %}
                    <div class="alert alert-danger">{{ form.name.errors }}</div>
                {% endif %}
                <div>Name:</div>
                <div>{{ form.name }}</div>

                {% if form.email.errors %}
                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                {% endif %}
                <div>Email:</div>
                <div>{{ form.email }}</div>

                {% if form.content.errors %}
                    <div class="alert alert-danger">{{ form.content.errors }}</div>
                {% endif %}
                <div>Content:</div>
                <div>{{ form.content }}</div>

                {% if form.captcha.errors %}
                    <div class="alert alert-danger">{{ form.captcha.errors }}</div>
                {% endif %}
                <div>{{ form.captcha }}</div>
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>

    <div class="panel panel-success">
        <h3 class="panel-heading">Replies</h3>
        {% for reply in post.replies.all %}
            {% if not reply.is_deleted %}
                {% if user.is_superuser or reply.approved_reply %}
                    <div class="panel-body">
                        <p>{{ reply.content }}</p>
                        <p>{{ reply.name }}</p>
                        <p>{{ reply.created_date }}</p>
                        {% if user.is_superuser %}
                            {% if not reply.approved_reply%}
                                <a href="{% url 'reply_approve' pk=reply.pk %}">Approve Post</a>
                            {% endif %}
                            <a href="{% url 'reply_remove' pk=reply.pk %}">Delete Post</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}