{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-info">
        <h1 class="panel-heading">Edit Post</h1>
        <div class="panel-body">
            <form method="POST">{% csrf_token %}
                <div>Title:</div>
                <div>{{ form.title }}</div>
                <div>Content</div>
                <div>{{ form.content }}</div>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}